.shadow-box-side {
  margin: 0 0 5em 0;
  $radius: 70px;
  $bg: #fff;
  padding: 4em 2em;
  background-color: $bg;
  border-radius: 0 $radius $radius 0;
  position: relative;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.06);

  @media (min-width: $break-lg) {
    padding: 5em;
    margin-bottom: 9em;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50vw;
    height: 100%;
    background-color: $bg;
    box-shadow: -40px 4px 32px 0 rgba(0, 0, 0, 0.06);
  }
  &--right {
    border-radius: $radius 0 0 $radius;
    &:before {
      left: 100%;
      margin-left: -40px;
      right: auto;
      box-shadow: 40px 4px 32px 0 rgba(0, 0, 0, 0.06);
    }
  }
  &--full {
    @media (min-width: $break-lg) {
      box-shadow: none;
      &:before {
        width: 100vw;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 4px 32px 0 rgba(0, 0, 0, 0.06);
      }
    }
  }

  &--mobile-flat {
    @media (max-width: $break-lg) {
      padding: 0;
      background-color: transparent;
      border-radius: none;
      box-shadow: none;

      &:before {
        display: none;
      }
    }
  }
}

.show-only-lg {
  @media (max-width: $break-lg) {
    display: none;
  }
}
.only-mobile {
  @media (min-width: $break-lg) {
    display: none;
  }
}

.switch-order-md {
  @media (min-width: $break-md) {
    display: flex;
    flex-direction: column;

    &__order1 {
      order: 1;
    }
    &__order2 {
      order: 2;
    }
  }
}

.bg-primary {
  background-color: $brand-primary;
}
.bg-secondary {
  background-color: $brand-secondary;
}
.bg-gray {
  background-color: #4a4a4a;
}
.bg-orange {
  background-color: #f08855;
}
.bg-purple {
  background-color: #552dae;
}
.bg-salmon {
  background-color: #ff5c5a;
}
.bg-blue {
  background-color: #6668e4;
}
.center {
  text-align: center;
}
.center-m {
  @media (max-width: $break-lg) {
    text-align: center;
  }
}
.anchor {
  display: block;
  height: 0;
  width: 0;
  visibility: hidden;
  position: relative;
  bottom: 85px;
  font-size: 0;
}
