.partners {
    width: 100%;
    background: transparent url('/img/partners.png') no-repeat top center;
    background-size: cover;
    z-index: -1;
    padding: 30px 0;

    @media (min-width: $break-md) {
        padding: 60px 0;
    }

    .page {

        &__border {
            border: 0.1rem solid #FFFFFF;
            margin-bottom: 30px;
            opacity: 0.3;
        }

        &__list {
            display: block;

            @media (min-width: $break-sm) {
                display: flex;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: baseline;
                justify-content: space-between;

                margin-left: -2.2em;
                margin-right: -2.2em;
            }

            @media (min-width: $break-lg) {
                align-items: center;
            }
        }

        &__item {
            margin: 2em 2em;
            text-align: center;
            cursor: pointer;

            @media (min-width: $break-sm) {
                margin: 2.2em;
            }

            img {
                transition: transform 0.6s ease 0s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}