.team-slider {
  margin: 0 0 4.8em 0;

  @media (min-width: $break-lg) {
    margin-bottom: 10em;
  }

  &__item {
    padding: 2em;
  }

  &__item-inner {
    text-align: center;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.5);

    @media (min-width: $break-lg) {
      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &__text {
    padding: 1.7em;
    position: relative;
  }
  &__name {
    display: block;
    font-size: 1.9em;
    line-height: 1.2em;
    color: $brand-primary;
    margin: 0 0 0.73em 0;
    padding: 0 2em;
  }
  &__role {
    font-size: 1.5em;
    display: block;
    color: $brand-secondary;
    margin: 0 0 1em 0;
  }
  &__linkedIn {
    display: block;
    position: absolute;
    top: 1.6em;
    right: 2.6em;
    width: 2em;
    height: 2em;

    background: transparent url('/img/icons/linkedin.png') no-repeat
      center center;
    background-size: contain;
    text-indent: -999em;

    @media (min-width: $break-lg) {
      right: 1.6em;
    }
  }
  &__description {
    font-size: 1.9em;
    line-height: 1.25em;

    @media (min-width: $break-md) {
      min-height: 17rem;
    }
    @media (min-width: $break-lg) {
      min-height: 22rem;
    }
  }
  &__image {
    background: #000;
  }
  &__img {
    width: 100%;
  }

  & .slick-arrow {
    background: transparent url('/img/icons/slider-arrow-left.png')
      no-repeat center;
    background-size: contain;
    width: 5.8rem;
    height: 6.2rem;
    z-index: 1;
    top: 0;
    margin-top: 89%;

    @media (min-width: $break-lg) {
      width: 7.7rem;
      height: 8rem;
      top: 50%;
      margin-top: 0;
    }

    &.slick-prev {
      left: -1.2rem;

      @media (min-width: $break-lg + 200px) {
        left: -8.5rem;
      }
    }
    &.slick-next {
      right: -1.2rem;
      transform: translateY(-50%) rotate(180deg);

      @media (min-width: $break-lg + 200px) {
        right: -8.5rem;
      }
    }

    &:before {
      display: none;
    }
  }
}
