.team-thumbs{
  padding: 2em 0 4em 0;

  @media (min-width: $break-lg){
    padding: 4em 0;
  }

  &__list{
    list-style: none;
    display: none;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $break-md){
      display: flex;
    }
  } 
  &__slider{
    margin-bottom: 6em;
    @media (min-width: $break-md){
      display: none;
    }
  }
  &__item{
    flex-basis: calc(33.33% - 2em);
    margin: 0 1em 2em 1em;

    @media (min-width: $break-lg){
      margin-bottom: 8em;
    }

    &--slide{
      margin-left: 0;
      margin-right: 0;
      padding-top: 2em;
    }
  }
  &__image{
    width: 14em;
    height: 14em;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
    border: 4px solid #fff;
    margin: 0 0 3em 0;

    @media (min-width: $break-lg){
      margin-bottom: 4.2em;
    }
  }
  &__img{
    width: 100%;
    height: 100%;
  }
  &__name{
    display: block;
    font-size: 1.9em;
    margin-bottom: 0.7em;
  }
  &__role{
    display: block;
    font-size: 1.5em;
  }

  &--centered{
    text-align: center;
  }
  &--centered &__image{
    margin-left: auto;
    margin-right: auto;
  }
}